[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fidelius"]
	path = fidelius
	url = https://github.com/mattwarkentin/fidelius
[submodule "openmpp"]
	path = openmpp
	url = https://github.com/mattwarkentin/openmpp
